TP4/OM2M_RedNode_TP4.json
[{"id":"1b757ed8.a78af1","type":"tab","label":"OM2M_RedNode_TP4","disabled":false,"info":""},{"id":"91f9d918.d19018","type":"NamedSensor","z":"1b757ed8.a78af1","name":"Light sensor FIBARO","platform":"a6e11bb0.a6e778","sensor":"102b4f2.fe64db1","container":"DATA","cntInstance":"/la","x":300,"y":180,"wires":[["a00aa57c.4c7218"]]},{"id":"656a7cdf.bd42f4","type":"inject","z":"1b757ed8.a78af1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":180,"wires":[["91f9d918.d19018"]]},{"id":"e0164c3d.1d5d8","type":"debug","z":"1b757ed8.a78af1","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":720,"y":180,"wires":[]},{"id":"a00aa57c.4c7218","type":"DataExtractor","z":"1b757ed8.a78af1","name":"","viewtype":"xpath","viewunid1":"test","viewunid2":"$","x":520,"y":180,"wires":[["e0164c3d.1d5d8","4748908c.28d1e","aef882c2.e3966"]]},{"id":"70a6128c.5a038c","type":"inject","z":"1b757ed8.a78af1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":480,"wires":[["938c6cf9.485e5","90ede431.8e0418"]]},{"id":"f2c48d0d.f8941","type":"debug","z":"1b757ed8.a78af1","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":560,"y":480,"wires":[]},{"id":"938c6cf9.485e5","type":"Container","z":"1b757ed8.a78af1","name":"","platform":"a6e11bb0.a6e778","name1":"102b4f2.fe64db1","viewtype":"DATA","viewunid1":"","x":320,"y":520,"wires":[[]]},{"id":"3659aca9.c93fa4","type":"ContentInstance","z":"1b757ed8.a78af1","name":"","platform":"a6e11bb0.a6e778","name1":"102b4f2.fe64db1","container":"DATA","width":0,"options":[{"type":"int","label":"test","value":"300"}],"x":340,"y":560,"wires":[[]]},{"id":"4748908c.28d1e","type":"SimpleCondition","z":"1b757ed8.a78af1","operator":">=","value_c":"200","inputType":"msg","input":"payload","name":"Light off?","x":740,"y":120,"wires":[["6a2e5b7d.ed0cd4","f76769f8.10b5b8"]]},{"id":"6a2e5b7d.ed0cd4","type":"NamedActuator","z":"1b757ed8.a78af1","platform":"a6e11bb0.a6e778","name":"Turn OFF lights","actuator":"102b4f2.fe64db1","command":"op=setOff&lampid=LIGHT_SENSOR_FIBARO","x":920,"y":120,"wires":[]},{"id":"f76769f8.10b5b8","type":"debug","z":"1b757ed8.a78af1","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":960,"y":180,"wires":[]},{"id":"90ede431.8e0418","type":"Application","z":"1b757ed8.a78af1","name":"","platform":"a6e11bb0.a6e778","name1":"102b4f2.fe64db1","pointOfAccess":"","obixAnnounce":false,"width":0,"options":[{"label":"test","value":"300"}],"cntInstance":"","x":330,"y":480,"wires":[["f2c48d0d.f8941"]]},{"id":"dc080b91.13dd28","type":"inject","z":"1b757ed8.a78af1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":560,"wires":[["3659aca9.c93fa4"]]},{"id":"aef882c2.e3966","type":"SimpleCondition","z":"1b757ed8.a78af1","operator":"<= ","value_c":"50","inputType":"msg","input":"payload","name":"Light on?","x":740,"y":60,"wires":[["a1b2a45.f8bee58"]]},{"id":"a1b2a45.f8bee58","type":"NamedActuator","z":"1b757ed8.a78af1","platform":"a6e11bb0.a6e778","name":"Turn ON lights","actuator":"102b4f2.fe64db1","command":"op=setOn&lampid=LIGHT_SENSOR_FIBARO","x":920,"y":60,"wires":[]},{"id":"1c3b7ff9.f7ef6","type":"inject","z":"1b757ed8.a78af1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":260,"wires":[["926f7a9d.0062c8"]]},{"id":"926f7a9d.0062c8","type":"NamedSensor","z":"1b757ed8.a78af1","name":" Temperature sensor FIBARO","platform":"a6e11bb0.a6e778","sensor":"a8499bd2.441ba8","container":"DATA","cntInstance":"/la","x":320,"y":260,"wires":[["6412f9ac.2cdc28"]]},{"id":"6412f9ac.2cdc28","type":"DataExtractor","z":"1b757ed8.a78af1","name":"","viewtype":"xpath","viewunid1":"test","viewunid2":"$","x":560,"y":260,"wires":[["a6c342b4.62dab"]]},{"id":"a6c342b4.62dab","type":"debug","z":"1b757ed8.a78af1","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":760,"y":260,"wires":[]},{"id":"c4a5a36d.376b8","type":"inject","z":"1b757ed8.a78af1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":340,"wires":[["1c319ea.4244661"]]},{"id":"1c319ea.4244661","type":"NamedSensor","z":"1b757ed8.a78af1","name":"Mouvement sensor FIBARO","platform":"a6e11bb0.a6e778","sensor":"6db645c8.b0b5fc","container":"DATA","cntInstance":"/la","x":320,"y":340,"wires":[["3fa0bdf6.4d2ac2"]]},{"id":"3fa0bdf6.4d2ac2","type":"DataExtractor","z":"1b757ed8.a78af1","name":"","viewtype":"xpath","viewunid1":"test","viewunid2":"$.str[0]","x":560,"y":340,"wires":[["2f268223.5b4b7e"]]},{"id":"2f268223.5b4b7e","type":"debug","z":"1b757ed8.a78af1","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":760,"y":340,"wires":[]},{"id":"a6e11bb0.a6e778","type":"xN_CSE","z":"","platform":"om2m_zigwave","URLBase":"http://127.0.0.1:8080/~/mn-cse/mn-name","user":"admin","password":"admin"},{"id":"102b4f2.fe64db1","type":"AE","z":"","appId":"LIGHT_SENSOR_FIBARO"},{"id":"a8499bd2.441ba8","type":"AE","z":"","appId":"TEMPERATURE_SENSOR_FIBARO"},{"id":"6db645c8.b0b5fc","type":"AE","z":"","appId":"MOUVEMENT_SENSOR_FIBARO"}]